svg {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

svg.show {
  opacity: 1;
}

img {
  opacity: 0;
  position: fixed;
  top: 0;z
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.show {
  opacity: 1;
}

